* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    background: whitesmoke;
}

.main{
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    column-gap: 2em;
}
button:hover{
    background: #e77246;
}
.book {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.book img {
    height: 250px;
    object-fit: cover;
}